fastapi
uvicorn[standard]
sqlalchemy>=2.0
asyncpg
python-dotenv
alembic
greenlet
passlib[bcrypt]>=1.7.4
orjson==3.9.14
asyncpg
bcrypt==3.2.2
pydantic>=2.7.0
pydantic-settings
PyJWT==2.8.0
google-generativeai
requests